section {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: #000000;
  color: #ffffff;
  text-align: center;

  /* ==== TEMPORARY ===== */
  font-size: 48px;
}


/* ============= WELCOME SCREEN ============== */


#welcome {
  /* display: none; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Eagle Lake', cursive;
  z-index: 600; 
  -webkit-animation: black-curtain 0s ease-in 7s forwards;
  animation: black-curtain 0s ease-in 7s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  animation-duration: 3s;
}


@keyframes black-curtain {
  to {
      height: 0;
      overflow:hidden;
      visibility: hidden;
  }
}

#welcome h1 {
  font-size: 22vw;
  margin: 5vw 0 30vw 0;
}

#welcome h2 {
font-size: 5vw;
}


.hero, .preHero, .subHero {
  position: relative;
}

.curtain-pretitle-box {
  position: absolute;
  top: 0;
  left: 30%;
  margin-top: -1%;
  width: 60%;
  height: 175%;
  background-color: #000000;
  -webkit-animation: title 3s linear 0s forwards;
  animation: title 3s linear 0s forwards;
}

.curtain-title-box {
  position: absolute;
  top: 2vw;
  background-color: #000000;
  height: 50%;
  width: 90%;
  -webkit-animation: title 3s linear 1.5s forwards;
  animation: title 3s linear 1.5s forwards;
}

.curtain-subtitle-box {
  position: absolute;
  top: 0;
  left: 25%;
  margin-top: -1%;
  width: 60%;
  height: 175%;
  background-color:#000000;
  -webkit-animation: title 3s linear 4.5s forwards;
  animation: title 3s linear 4.5s forwards;
}

@keyframes title {
  to {
    transform: translateX(100%);
  }
}


/* ============= INSTRUCTIONS SCREEN ============== */


#instructions {
  /* display: none; */
  /* background-color: darkmagenta; */
  background-image: linear-gradient(to top, rgba(77,77,77,1), rgba(255,255,255,1));
  z-index: 500;
}


/* ============= CATEGORIES SCREEN ============== */



#categories {
  /* display: none; */

  background-image: linear-gradient(to top, rgba(77,77,77,1), rgba(255,255,255,1));
  z-index: 400;
}


/* ============= GAME SCREEN ============== */



#game {
  /* display: none; */

  background-image: linear-gradient(to top, rgba(77,77,77,1), rgba(255,255,255,1));
  z-index: 300;
}



/* ======= CLASS TO TOGGLE SCREEN CHANGE ========== */
.close-curtain {
  -webkit-animation: black-curtain 0s ease-in-out 0s forwards;
  animation: black-curtain 0s ease-in-out 0s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  animation-duration: 3s;
}



/* =============== MEDIA QUERIES ================== */